<form action="/create_tweet" method="post">
  Tweet: <input type="text" id="content" name="content">
  <input type="hidden" id="user_id" name="user_id" value="<%= @user.id %>">

  <input type="submit" value="submit">
    </form>
