<h1>Log In To Fwitter</h1>
<form action="/login" method="post">
  <label>Username: </label><input type="username" name="username">
  <br></br>
  <label>Password: </label><input type="password" name="password">
  <br></br>
  <input type="submit" value="submit">
</form>
